.form{
    border: 2px solid red;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 500px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.btn{
    padding: 10px;
    background-color: red;
    border: none;

}

.btn:hover{
    background-color: rgb(255, 103, 103);
}
.inp{
    padding: 10px;
}